/* NOTE: LOGIN/REG PAGE */

html, body {
    background-color: #f7f7ff;
    height: 100%;
    font-family: Helvetica;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    color: #013042;
}

form.login {

    text-align: center;
    width: 250px;
    position: relative;
    bottom: 10%;

}
form object {
    width: 250px;
    margin-bottom: 25px;

}
.login input[type="submit"] {
    color: #01304290;

    border: none ;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: -20px;
    padding: 0px;
    width: 20px;
    background-color:  inherit;

}
.login input[type="submit"]:hover {
    cursor: pointer;
}
.login input[type="text"], .login input[ type="password"], .login input[type="email"] {
    text-align: center;
    background-color: inherit;
    color:#013042;
    font-size: 28px;
    width: 75%;
    margin: 10px 0px 20px 0px;
    border-style: none;
    border-bottom: #013042 dotted 2px;
    box-shadow: 1px;
}
.login input[type="text"] {
    padding: 0px 20px;
}
 .login input[type="email"]{
     font-size: 1rem;
     width: 100%;
 }
 .login input[type="email"]:invalid {
     outline: none;
     border-color: #cf535d;
     box-shadow: none;

 }
.login input[ type="password"] {
    padding: 0px 20px;
}

.flash {
    position: relative;
    left: -26px;
    top: 20px;
    margin-bottom: -10px;
    font-weight: 400;
    font-size: 1rem;
    color: #5c2e59;
    width: 300px;

}

.flash p {
    padding: 5px;
    margin: 0px;
}
