.container {
  max-width: 960px;
  text-align: center;
  margin: 50px auto;
}


body {
  padding-top: 5rem;
  background-color: #F4F4F4;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


.movie-preview {
  display:  flex;
  flex-direction: row;
  max-height: 20rem;
  margin: 0.5rem;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  text-align: left;
}

.movie-info {

  border-radius: .10rem;
  border-left: none;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.links {
  align-self: flex-end;
}
.add-form {
  float: right;
}

.title {
  display: inline-block;
}
.overview {
  font-size: 0.9rem;
}
.poster-img {
  padding: 0;

  width: 100%;
  height: auto;
}
