html, body {
    background-color: #f7f7ff !important;
    height: 100%;

}

nav {
    background-color: #00bcd4;
}
nav ul li {
    list-style: none;




}
.nav-item {
    margin: 20px 7px;
}

li a.nav-link {
    color: #f7f7ff !important;
    font-weight: 400 !important;
    font-size: 25px !important;

}
object {
    margin: 10px;
    width: 80px;
}

main {
    background-color: #f7f7ff !important;
}
