<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arca de filmé</title>

    <link rel="stylesheet" href={{url_for( 'static',filename="css/style.css" )}}>

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href={{url_for("arca_view")}}>Arca</a>
            </li>
            <li>
                <a href={{url_for("my_list")}}>Minha Lista</a>
            </li>
            <li>
                <a href={{url_for("people")}}>Pessoas</a>
            </li>
            <li>
                <a href={{url_for("logout")}}>Sair (<span id="user-name">{{ session.user }}</span>)</a>
            </li>
            <li>
                <form id="query">
                    <input type="text" name="query" >
                    <button type="submit">Enviar</button>

                </form>
            </li>
        </ul>

    </nav>

    <main role="main" class="">


        {% block body %}
        {% endblock %}

    </main>






    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={{url_for( 'static',filename='jquery-3.2.1.min.js' )}}></script>
    <script src={{url_for( 'static',filename='renderer.js' )}}></script>

    {% block scripts %} {% endblock %}

</body>

</html>
