<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arca de filmé</title>

    <link rel="stylesheet" href={{url_for( 'static',filename="css/style.css" )}}>

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="#">Arca</a>
            </li>
            <li>
                <a href="#">Minha Lista</a>
            </li>
            <li>
                <a href="#">Pessoas</a>
            </li>
            <li>
                <a href="#">Sair</a>
            </li>

        </ul>

    </nav>

    <main role="main" class="">


        {% block body %}
        {% endblock %}

    </main>






    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src={{url_for( 'static',filename='renderer.js' )}}></script>

    {% block scripts %} {% endblock %}

</body>

</html>
