<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arca de filmé</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href={{url_for('static',filename='bootstrap.min.css')}}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={{url_for('static',filename="style.css")}}>
        <link rel="stylesheet" href={{url_for('static',filename="style2.css")}}>
 <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">


     <object class="nav-brand" type="image/svg+xml" data={{url_for("static",filename="images/arca.svg")}}> </object>



      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href={{url_for("index")}}>Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a  id="arca" class="nav-link" href={{url_for("arca_view")}}>Arca <span class="sr-only"></span></a>
          </li>

          {% if session.user %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('logout')}}">Logout ({{ session.user}})<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('login')}}">login <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}

        </ul>
        <form id="query" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='query' type="text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



    <main role="main" class="container-fluid">


    {% block body %}

    {% endblock %}

    </main>

    <!-- /.container -->






    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src={{url_for('static',filename='jquery-3.2.1.min.js')}}></script>
    <script src={{url_for('static',filename='popper.min.js')}}></script>
    <script src={{url_for('static',filename='bootstrap.min.js')}}></script>

    <script src={{url_for('static',filename='renderer.js')}}></script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
