<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Arca de Filmé</title>

        <link rel="stylesheet" href={{url_for('static',filename="login.css")}}>

    </head>
    <body>

            <div class="container ">


                <form class="login" action={{url_for('login')}} method="POST">


                    <object type="image/svg+xml" data={{url_for("static",filename="images/arca.svg")}}>

                    </object>

                  <input type="text" name="login" placeholder="Login">
                  <input type="password" name="password" placeholder="    senha"><input value="&#10003;" type="submit" >


                                      {% for message in get_flashed_messages() %}
                                        <div class="flash">
                                          <p>{{ message}}</p>
                                          </div>
                                      {% endfor %}
                </form>




              </div>




          <script src={{url_for('static',filename='jquery-3.2.1.min.js')}}></script>

          <script src={{url_for('static',filename='renderer.js')}}></script>
    </body>
</html>
