<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Arca de Filmé</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href={{url_for( 'static',filename='bootstrap.min.css' )}}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={{url_for( 'static',filename="style.css" )}}>

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">


            <form class="login" action={{url_for( 'register')}} method="POST">

                {% for message in get_flashed_messages() %}
                <div class="flash">
                    <p>{{ message}}</p>
                </div>
                {% endfor %}
                <object type="image/svg+xml" data={{url_for( "static",filename="images/arca.svg" )}}>

                    </object>

                <p>Email@email.com</p>
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="password" placeholder="    senha"><input value="&#10003;" type="submit">


            </form>




        </div>

    </div>



    <script src={{url_for( 'static',filename='jquery-3.2.1.min.js' )}}></script>
    <script src={{url_for( 'static',filename='popper.min.js' )}}></script>
    <script src={{url_for( 'static',filename='bootstrap.min.js' )}}></script>
    <script src={{url_for( 'static',filename='renderer.js' )}}></script>
</body>

</html>