{% extends "base.html" %}

{% block body %}


    <div class="row justify-content-center">


  {% if session.display %}

  {% for movie in session.display %}

    <div class="col-8 movie-preview">
      <img class="poster-img col-4" src={{ url_for('static',filename= movie['posterimg'])}} alt="no poster">
      <div class="movie-info col-8">
        <h4 class="title">{{ movie.title }}</h4>
        {% if not movie.in_arca %}
        <form class="add-form" action="{{ url_for('movie_add',id=movie.themoviedb_id)}}" method="get">
            <button class="btn btn-outline-info btn-sm" type="submit" name="arca">Adicionar</button>
        </form>
        {% endif %}
        <p class="overview">{{ movie.in_arca}}  {{ movie.overview }}</p>

        <div class="links">
          <a class="btn btn-outline-dark btn-sm disabled" href="#">IMDB</a> <a class="btn btn-outline-dark btn-sm" href="https://www.themoviedb.org/movie/{{ movie.themoviedb_id }}">The Movie Database</a>

        </div>

      </div>


    </div>


    {% endfor %}

    {% endif %}
      </div>



  {% endblock %}
