{% extends "base.html" %}
{% block body %}


<div class="row justify-content-center">
    <form class="" action={{url_for('register')}} method="POST">
      <input type="text" name="login"  placeholder="login">
      <input type="password" name="password" placeholder="password" value="">
      <input type="email" name="email" placeholder="email" value="">
      <button class="btn btn-outline-sucess" type="submit" name="button">Registrar</button>

    </form>

  {% for message in get_flashed_messages() %}
    <div class="flash alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <br>
      {{ message}}
  {% endfor %}

    </div>
  </div>




  {% endblock %}
